:root {
    --text-dark: #555;
    --text-darker: #2d2e32;
    --text-white: #f9f9f9;
    --navbar-semi-background: #1b1b1bcc;
    --navbar-background: #1b1b1bf7;
    --light-background: #f9f9f9;
    --background: #fff;
    --red: #c70a0a;
}

.dark-mode:root {
    --text-dark: #BDBDBD;
    --text-darker: #fdfcfc;
    --text-white: #ffffff;
    --navbar-semi-background: #1b1b1bf7;
    --navbar-background: #121212;
    --light-background: #1F1B24;
    --background: #1F1B24;;
    --red: #4b4bf0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
}

@media (min-width: 1400px) {
    * {
        font-size: 20px;
    }
}

.container {
    margin: 0 auto;
    max-width: 67rem;
    padding: 0 2.6rem;
    height: inherit;
}