:root {
    --white: #fff;
    --red: #c70a0a;
    --darkgray: #555;
    --darkergray: #2d2e32;
    --lightgray: #f9f9f9;
    --transparent-gray: #1b1b1bcc;
    --semi-transparent-gray: #1b1b1bf7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
}

@media (min-width: 1400px) {
    * {
        font-size: 20px;
    }
}

.container {
    margin: 0 auto;
    max-width: 67rem;
    padding: 0 2.6rem;
    height: inherit;
}